# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# =========================
# Archivos de sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos de configuración local
# =========================
.env
.env.*

# =========================
# Archivos de IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp

